In [2]:

3.
#Input
input_numbers = input("Enter a series of space-separated integers: ")
# Convert Input
numbers_list = [int(num) for num in input_numbers.split()]
# Sorting
numbers_list.sort()
# Print Output
print("Sorted list:", numbers_list)

Enter a series of space-separated integers:  5 2 8 1 9
Sorted list: [1, 2, 5, 8, 9]

In [2]:
4.
# Input
input_numbers = input("Enter a series of space-separated integers: ")

# Convert Input
numbers_list = [int(num) for num in input_numbers.split()]
numbers_tuple = tuple(numbers_list)

# Sorting
sorted_list = sorted(numbers_list)
sorted_tuple = tuple(sorted_list)

# Print Output
print("Sorted list:", sorted_list)
print("Sorted tuple:", sorted_tuple)

Enter a series of space-separated integers: 5 2 8 1 9
Sorted list: [1, 2, 5, 8, 9]
Sorted tuple: (1, 2, 5, 8, 9)

In [1]:
5.
#input
input_numbers = input("Enter a series of space-separated integers: ")

# Convert Input
numbers_list = [int(num) for num in input_numbers.split()]  # Remove parentheses
numbers_tuple = tuple(numbers_list)


# Manipulate List
# Append 10 to the list
numbers_list.append(10)
# Insert 20 at index 2
numbers_list.insert(2, 20)
# Remove one element from the list
numbers_list.remove(5)

# Attempt to Modify Tuple (this will raise an error)


try:

    numbers_tuple.append(10)
except AttributeError:
    print("Tuples are immutable and cannot be modified.")

try:
    #   Insert 20 at index 2
    numbers_tuple.insert(2, 20)
except AttributeError:
    pass  # Insert operation will also raise an error
try:
    #   Remove one element  from the tuple
    numbers_tuple.remove(8)
except AttributeError:
    pass  # Insert operation will also raise an error
# Print Output
print("Modified list:", numbers_list)
print("Tuple remains unchanged:", numbers_tuple)

Enter a series of space-separated integers:  5 2 8 1 9
Tuples are immutable and cannot be modified.
Modified list: [2, 20, 8, 1, 9, 10]
Tuple remains unchanged: (5, 2, 8, 1, 9)

In [3]:
6.
input_numbers = input("Enter a series of space-separated integers: ")

# # Convert Input
numbers_list = [int(num) for num in input_numbers.split()]
numbers_tuple = tuple(numbers_list)

# # Manipulate List
numbers_list.append(10)
numbers_list.insert(2, 20)
numbers_list.remove(8)

# # Attempt to Modify Tuple (this will raise an error)
try:
    numbers_tuple.append(10)
except AttributeError:
    print("Tuples are immutable and cannot be modified.")
    try:
        numbers_tuple.insert(2, 20)
    except AttributeError:
        pass  # insert operation will also raise an error
    try:
        numbers_tuple.remove(8)
    except AttributeError:
        pass  # remove one element from the tuple will also raise an error

# # Set Operations
set1 = {1, 2, 5, 9, 8, 10}
set2 = {8, 5, 11, 12}
set_union = set1.union(set2)
set_union.discard(8)
set_intersection = set1.intersection(set2)
set_difference = set1 - set2
for number in (1, 2, 10):
    set_difference.remove(number)

#  Dictionary Operations
numbers_dict = {5: 25, 2: 4, 8: 64, 1: 1, 9: 81}
print("Original Dictionary:", numbers_dict)
numbers_dict[11] = 121  # Add a new key-value pair
del numbers_dict[8]  # Delete an existing key-value pair

# # Print Output
print("Modified list:", numbers_list)
print("Tuple remains unchanged:", numbers_tuple)
print("Union of set:", set_union)
print("Intersection of set:", set_intersection)
print("Difference of set:", set_difference)
print("Updated Dictionary:", numbers_dict)

Enter a series of space-separated integers:  5 2 8 1 9
Tuples are immutable and cannot be modified.
Original Dictionary: {5: 25, 2: 4, 8: 64, 1: 1, 9: 81}
Modified list: [5, 2, 20, 1, 9, 10]
Tuple remains unchanged: (5, 2, 8, 1, 9)
Union of set: {1, 2, 5, 9, 10, 11, 12}
Intersection of set: {8, 5}
Difference of set: {9}
Updated Dictionary: {5: 25, 2: 4, 1: 1, 9: 81, 11: 121}

In [4]:
7.
input_numbers = input("Enter a series of space-separated integers: ")

# Convert Input
numbers_list = [int(num) for num in input_numbers.split()]
numbers_tuple = tuple(numbers_list)

# Manipulate List
numbers_list.append(10)
numbers_list.insert(2, 20)
numbers_list.remove(8)

# Attempt to Modify Tuple (this will raise an error)
try:
    numbers_tuple.append(10)
except AttributeError:
    print("Tuples are immutable and cannot be modified.")
    try:
        numbers_tuple.insert(2, 20)
    except AttributeError:
        pass  # insert operation will also raise an error
    try:
        numbers_tuple.remove(8)
    except AttributeError:
        pass  # remove one element from the tuple will also raise an error

# Set Operations
set1 = {1, 2, 5, 9, 8, 10}
set2 = {8, 5, 11, 12}
set_union = set1.union(set2)
set_union.discard(8)
set_intersection = set1.intersection(set2)
set_difference = set1 - set2
for number in (1, 2, 10):
    set_difference.remove(number)

# Dictionary Operations
numbers_dict = {5: 25, 2: 4, 8: 64, 1: 1, 9: 81}
print("Original Dictionary:", numbers_dict)
numbers_dict[11] = 121  # Add a new key-value pair
del numbers_dict[8]  # Delete an existing key-value pair

# Type Conversion
list_to_tuple = tuple(numbers_list)
list_to_set = set(numbers_list)
list_to_dict = {num: num**2 for num in numbers_list}

tuple_to_list = list(numbers_tuple)
tuple_to_set = set(numbers_tuple)
tuple_to_dict = {num: num**2 for num in numbers_tuple}


set_to_dict = {num: num**2 for num in set_union - {11, 12}}  # Include 20 in the set
set_to_dict[20] = 400  # Add the missing key-value pair
set_to_list = list(set_to_dict.keys())  # Convert dictionary keys to list
set_to_tuple = tuple(set_to_dict.keys())  # Convert dictionary keys to tuple

dict_to_list = list(numbers_dict.keys()) + [10, 20]
dict_to_tuple = tuple(list(numbers_dict.keys()) + [10, 20])
dict_to_set = set(numbers_dict.keys()) | {10, 20}


# Print Output
print("List to Tuple:", list_to_tuple)
print("List to Set:", list_to_set)
print("List to Dictionary:", list_to_dict)
print("Tuple to List:", tuple_to_list)
print("Tuple to Set:", tuple_to_set)
print("Tuple to Dictionary:", tuple_to_dict)
print("Set to List:", set_to_list)
print("Set to Tuple:", set_to_tuple)
print("Set to Dictionary:", set_to_dict)
print("Dictionary to List:", dict_to_list)
print("Dictionary to Tuple:", dict_to_tuple)
print("Dictionary to Set:", dict_to_set)

Enter a series of space-separated integers: 5 2 1 8 9
Tuples are immutable and cannot be modified.
Original Dictionary: {5: 25, 2: 4, 8: 64, 1: 1, 9: 81}
List to Tuple: (5, 2, 20, 1, 9, 10)
List to Set: {1, 2, 5, 9, 10, 20}
List to Dictionary: {5: 25, 2: 4, 20: 400, 1: 1, 9: 81, 10: 100}
Tuple to List: [5, 2, 1, 8, 9]
Tuple to Set: {1, 2, 5, 8, 9}
Tuple to Dictionary: {5: 25, 2: 4, 1: 1, 8: 64, 9: 81}
Set to List: [1, 2, 5, 9, 10, 20]
Set to Tuple: (1, 2, 5, 9, 10, 20)
Set to Dictionary: {1: 1, 2: 4, 5: 25, 9: 81, 10: 100, 20: 400}
Dictionary to List: [5, 2, 1, 9, 11, 10, 20]
Dictionary to Tuple: (5, 2, 1, 9, 11, 10, 20)
Dictionary to Set: {1, 2, 20, 5, 9, 10, 11}